<div class="navbar">
    <nav>
        <ul>
            <li class="navstd"><a href="/">Home</a></li>
            <li class="navstd"><a href="/pages/about.html">About Me</a></li>
            <div class="dropdown">
                <button class="dropbtn">Gaming 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/pages/gaming.html">Recommendations</a>
                </div>
              </div>
            <li class="navstd"><a href="/pages/contact.html">Contact</a></li>
        </ul>
    </nav>
</div>