<div class="navbar">
    <nav>
        <ul>
            <li class="navstd"><a href="/">Home</a></li>
            <li class="navstd"><a href="/pages/about">About Me</a></li>
            <div class="dropdown">
                <button class="dropbtn">Projects ▼</button>
                <div class="dropdown-content">
                  <a href="/pages/dds">Digital Devil Story</a>
                  <a href="/pages/docs">Documents</a>
                </div>
              </div>
            <li class="navstd"><a href="/pages/contact">Contact</a></li>
        </ul>
    </nav>
</div>